{% extends 'base.html' %}


{% block conteudo %}
<h1 class="mt-5">Meus KMs Rodados</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Local de Saida</th>
              <th>Local de destino</th>
              <th>KM Rodado</th>
              <th>Motivo</th>
              <th>Data</th>
				
			 </tr>
          </thead>
          <tbody>
            {% for trajeto in trajetos %}
            <tr>
              <td>
                <a href="{% url 'ver_trajeto' trajeto.id %}"> {{ trajeto.saida }} </a>
              </td>
              <td>{{ trajeto.destino }}</td>
              <td>{{ trajeto.kilometragem }}</td>
              <td>{{ trajeto.motivo }}</td>
              <td>{{ trajeto.data_visita|date:'d/m/Y' }}</td>
            </tr>
           {% endfor %}
          </tbody>
        </table>

{% endblock %}