{% extends 'base.html' %}


{% block conteudo %}
<h1 class="mt-5">Meus KMs Rodados</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Local de Saida</th>
              <th>Local de destino</th>
              <th>KM Rodado</th>
              <th>Data</th>
				<th>Origem</th>
			 </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#"> Candanga</a>
              </td>
              <td>Mix Brasil</td>
              <td>25</td>
              <td>05/07/2022</td>
            </tr>
            <tr>
              <td>
                <a href="#"> Leandro</a>
              </td>
              <td>Moreira</td>
              <td>35 9 8888-5555</td>
              <td>Família</td>
            </tr>
            <tr>
              <td>
                <a href="#"> Fátima</a>
              </td>
              <td>Oliveira</td>
              <td>35 9 9999-4352</td>
              <td>Conhecidos</td>
            </tr>
          </tbody>
        </table>

{% endblock %}